{% extends 'base.html' %}

{% block content %}
{% load static %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Details Sur l'objet : {{ objet.nom }}</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Objet</a></li>
                        <li class="breadcrumb-item active">Details Sur l'objet</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{ objet.Photo1.url }}" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                
                                {% if objet.Photo2 %}
                                <img class="d-block w-100" src="{{ objet.Photo2.url }}" alt="Second slide">
                                    
                                {% else %}
                                <img class="d-block w-100" src="{{ objet.Photo1.url }}" alt="Second slide">
                                    
                                {% endif %}
                                    
                            </div>
                            <div class="carousel-item">
                                {% if objet.Photo2 %}
                                <img class="d-block w-100" src="{{ objet.Photo3.url }}" alt="Second slide">
                                    
                                {% else %}
                                <img class="d-block w-100" src="{{ objet.Photo1.url }}" alt="Second slide">
                                    
                                {% endif %}
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Precedent</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Suivant</span>
                        </a>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-1" data-slide-to="0" class="active">
                                <img class="d-block w-100 img-fluid" src="{{ objet.Photo1.url }}" alt="" />
                            </li>
                            <li data-target="#carousel-example-1" data-slide-to="1">
                                
                                {% if objet.Photo2 %}
                                <img class="d-block w-100 img-fluid" src="{{ objet.Photo2.url }}" alt="" />
                                    
                                {% else %}
                                <img class="d-block w-100 img-fluid" src="{{ objet.Photo1.url }}" alt="" />
                                    
                                {% endif %}
                                    
                            </li>
                            <li data-target="#carousel-example-1" data-slide-to="2">
                                {% if objet.Photo2 %}
                                <img class="d-block w-100 img-fluid" src="{{ objet.Photo3.url }}" alt="" />
                                    
                                {% else %}
                                <img class="d-block w-100 img-fluid" src="{{ objet.Photo1.url }}" alt="" />
                                    
                                {% endif %}
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>Objet : {{ objet.nom }}</h2>
                        <h5> Code: {{ objet.Code }}</h5>
                        <p class="available-stock"><span> Signalé depuis le <a href="#">{{ objet.date|date:"d-m-Y" }}</a></span></p>
                        <p class="available-stock"><span> A <a href="#">{{ objet.lieu }}</a></span></p>
                        <h4>Petite description:</h4>
                        <p>{{ objet.description }}</p>
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <a class="btn hvr-hover" href="#">Contacter la Victime</a>
                            </div>
                        </div>
                        <div class="add-to-btn">
                            <div class="share-bar">
                                <a class="btn hvr-hover" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                <a class="btn hvr-hover" href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                                <a class="btn hvr-hover" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a class="btn hvr-hover" href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                                <a class="btn hvr-hover" href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Autres Objets</h1>
                        <p>Quelques Objets relatifs</p>
                    </div>
                    <div class="featured-products-box owl-carousel owl-theme">
                        {% for item in objets_similaires %}
                        <div class="item">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <img src="{{ item.Photo1.url }}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="{% url 'detail_objet' item.id %}" data-toggle="tooltip" data-placement="right" title="Voir"><i class="fas fa-eye"></i></a></li>
                                        </ul>
                                        <a class="cart" href="{% url 'detail_objet' item.id %}">Détails</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{ item.nom }}</h4>
                                    <h5> Signalé le {{ item.date|date:"d-m-Y" }}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Shop Detail -->


    {% endblock %}