{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhVBkXbcRJ3WvdwOoI4r5Tmrh3xTKb278" loading="async" async
    defer></script>
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Trajet : Xxxxx xxx xx - Xxxxx xxxx xx</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
                        <li class="breadcrumb-item active">Trajet  </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {% for photo in photos %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ photo }}" alt="Slide">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators">
                            {% for photo in photos %}
                            <li data-target="#carousel-example-1" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100 img-fluid" src="{{ photo }}" style="width:70px; height:100px" alt="">
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>Trajet : {{ trajet.Depart }} - {{ trajet.Arrive }}</h2>
                        <h2>Distance : <span id="distance"></span></h2>
                        <h2>duree : <span id="duration"></span></h2>
                        <div id="map" style="height: 400px; width: 100%;"></div>
                        <h5> <span style="color: black;">Prix - place : </span> {{ trajet.prix }} XAF</h5>
                        <h2>Voiture Marque : {{ trajet.modeleVoiture }}</h2>
        
                        <p class="available-stock"><span> {{ trajet.places }} places disponibles / <a href="#">{{ trajet.dateDepart|date:"d-m-Y" }} </a></span>
                            <p>
                                <h4>Lieu de Depart : {{ trajet.Depart }}</h4>
                                <h4>Arrivee a  : {{ trajet.Arrive }}</h4>
        
                                <h4>Commentaire:</h4>
                                <p>{{ trajet.commentaire }}</p>
        
                                <div class="price-box-bar">
                                    <div class="cart-and-bay-btn">
                                        <a class="btn hvr-hover" data-fancybox-close="" href="https://wa.me/{{ trajet.Auteur.whatsapp }}">Contacter le chauffeur</a>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Trajets similaires</h1>
                        <p>Quelques Trajets Similaires a celui-ci</p>
                    </div>
                    <div class="featured-products-box owl-carousel owl-theme">
                       
                       {% for trajet in similaires %}

                         <div class="item">
                             <div class="products-single fix">
                                 <div class="box-img-hover">
                                     <img src="{% static 'images/carte.jpg' %}" class="img-fluid" alt="Image">
                                     <div class="mask-icon">
                                         <ul> 
                                             <li><a href="{% url 'DetailTrajet' trajet.id %}" data-toggle="tooltip" data-placement="right" title="Voir"><i class="fas fa-eye"></i></a></li>
                    
                                         </ul>
                                         <a class="cart" href="{% url 'DetailTrajet' trajet.id %}">Details</a>
                                     </div>
                                 </div>
                                 <div class="why-text">
                                     <h4>{{ trajet.Depart }} - {{ trajet.Arrive }}</h4>
                                     <h5> {{ trajet.dateDepart|date:"d-m-Y" }}</h5>
                                 </div>
                             </div>
                         </div>
                         
                       {% endfor %}
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->

    <script>
        function initMap() {
            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer();
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: { lat: -34.397, lng: 150.644 }
            });
            directionsRenderer.setMap(map);
    
            var start = "{{ trajet.Depart }}";
            var end = "{{ trajet.Arrive }}";
    
            var request = {
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
            };
    
            directionsService.route(request, function (result, status) {
                if (status == 'OK') {
                    directionsRenderer.setDirections(result);
                    // Récupérer la distance et la durée du premier trajet
                    var distance = result.routes[0].legs[0].distance.text;
                    var duration = result.routes[0].legs[0].duration.text;
                    // Afficher la distance et la durée dans les éléments HTML
                    document.getElementById('distance').innerText = distance;
                    document.getElementById('duration').innerText = duration;
                }
            });
        }
    
        window.onload = initMap;
    </script>
    

    {% endblock %}