{% extends 'base.html' %}

{% block content %}
{% load static %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Colocation</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Colocation</a></li>
                        <li class="breadcrumb-item active">Details Sur l'Appartement </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {% for photo in photos %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ photo }}" alt="Slide">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators">
                            {% for photo in photos %}
                            <li data-target="#carousel-example-1" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100 img-fluid" src="{{ photo }}" alt="Indicator">
                            </li>
                            {% endfor %}
                        </ol>
                        <div id="map" style="height: 400px; width: 100%;margin-top:20px"></div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>{{ colocation.titre }}</h2>
                        <h5><span style="color: black;">Loyer de départ :</span> {{ colocation.prix }} FCFA</h5>
                        <p class="available-stock"><span>Lieu : {{ colocation.lieu }}</span></p>
                        <h4>Petite description:</h4>
                        <p>{{ colocation.details }}</p>
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <a class="btn hvr-hover" href="https://wa.me/{{ collocation.Auteur.whatsapp }}" target="_blank">Contacter le Bailleur</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Appartements semblables</h1>
                        
                        {% if not similar_colocs %}
                        <p>Aucun Appartement similaire pour le moment</p>
                        {% else %}
                        <p>Quelques Appartement similaires </p>
                        {% endif %}
                            
                        
                    </div>
                    <div class="featured-products-box owl-carousel owl-theme">
                        {% for similar_coloc in similar_colocs %}
                        <div class="item">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <img src="{{ similar_coloc.Photo1.url }}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="{% url 'DetailColloc' similar_coloc.id %}" data-toggle="tooltip" data-placement="right" title="Voir"><i class="fas fa-eye"></i></a></li>
                                        </ul>
                                        <a class="cart" href="{% url 'DetailColloc' similar_coloc.id %}">Details</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{ similar_coloc.lieu }}</h4>
                                    <h5>{{ similar_coloc.prix }} FCFA</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhVBkXbcRJ3WvdwOoI4r5Tmrh3xTKb278" loading="async" async></script>

    <script>
        function initMap() {
            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer();
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: { lat: -34.397, lng: 150.644 }
            });
            directionsRenderer.setMap(map);
    
            // Utilisez la position actuelle de l'utilisateur comme point de départ
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var start = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    var end = "{{ colocation.lieu }}";
    
                    var request = {
                        origin: start,
                        destination: end,
                        travelMode: 'DRIVING'
                    };
    
                    directionsService.route(request, function (result, status) {
                        if (status == 'OK') {
                            directionsRenderer.setDirections(result);
                        }
                    });
                }, function(error) {
                    console.error('Geolocation failed: ' + error.message);
                });
            } else {
                alert("La géolocalisation n'est pas prise en charge par ce navigateur.");
            }
        }
    
        window.onload = initMap;
    </script>
    
    {% endblock %}