{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-left">
            <img src="{% static 'images/banner-01.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20 titre"><strong>Bienvenue sur <br> GoFind , </strong>

                            {% if user.is_authenticated %}
                            {{user.nom}}
                            {% endif %}

                        </h1>
                        <p class="m-b-40"><strong class="sous-text">Retrouver ou signalez vos objets <br> plus question
                                d'acheter des objets victimes de vols.</strong></p>
                        <p><a class="btn hvr-hover" href="#modal-opened">Signaler Objet</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="{% static 'images/banner-02.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20 titre"><strong>Bienvenue sur <br> GoFind , </strong>

                            {% if user.is_authenticated %}
                            {{user.nom}}
                            {% endif %}

                        </h1>
                        <p class="m-b-40"><strong class="sous-text"> Faites du Covoiturage <br> Mettez a profit vos
                                differents deplacements.</strong></p>
                        <p><a class="btn hvr-hover" href="#">Signaler Trajet</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-right">
            <img src="{% static 'images/banner-03.jpg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20 titre"><strong>Bienvenue sur <br> GoFind , </strong>

                            {% if user.is_authenticated %}
                            {{user.nom}}
                            {% endif %}

                        </h1>
                        <p class="m-b-40"><strong class="sous-text"> Faites de la Colocation <br> Une piece en trop chez
                                vous ? parfait , mettez-la en location !.</strong></p>
                        <p><a class="btn hvr-hover" href="{% url 'signaler_colloc' %}">Signaler Appartement</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->

<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1><span style="color: red;">Gofindez</span>-vous Peut-etre Ceci ?</h1>
                    <p>Quelques Categories d'objets que vous Cherchez Peut-etre...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="{% static 'images/blog-img-02.jpg' %}"  width="500" height="500" style="width: 350px;height:300px"  alt="" />
                    <a class="btn hvr-hover" href="{% url 'liste_objets' %}?sujet=habits">Habits</a>
                </div>
                <div class="shop-cat-box">
                    <img class="img-fluid" src="{% static 'images/electro.jpg' %}" width="500" height="500" style="width: 350px;height:300px"  alt="" />
                    <a class="btn hvr-hover" href="{% url 'liste_objets' %}?sujet=electro-menagers">Electro-Menagers</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="{% static 'images/IT.jpg' %}" width="500" height="500" style="width: 350px;height:300px"  alt="" />
                    <a class="btn hvr-hover" href="{% url 'liste_objets' %}?sujet=outils-it">Outils-IT</a>
                </div>
                <div class="shop-cat-box">
                    <img class="img-fluid" src="{% static 'images/sacs.jpg' %}"  width="500" height="500" style="width: 350px;height:300px" alt="" />
                    <a class="btn hvr-hover" href="{% url 'liste_objets' %}?sujet=sacs">Sacs</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="{% static 'images/chaussures.jpg' %}"  width="500" height="500" style="width: 350px;height:300px" alt="" />
                    <a class="btn hvr-hover" href="{% url 'liste_objets' %}?sujet=chaussures">Chaussures</a>
                </div>
                <div class="shop-cat-box">
                    <img class="img-fluid" src="{% static 'images/bijoux.png' %}"  width="500" height="500" style="width: 350px;height:300px" alt="" />
                    <a class="btn hvr-hover" href="{% url 'liste_objets' %}?sujet=bijoux">Bijoux</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->

<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1><span style="color: red;">Gofindez</span>-vous Peut-etre Un trajet ?</h1>

                    <p id="traj-ville"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group" style="font-weight: 900;">
                        <button class="active" data-filter="*">Tous</button>
                        <button data-filter=".top-featured">Moins chers</button>
                        <button data-filter=".best-seller">Aujourdhui</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="trajets-container" class="row special-list" style="">
          
           
        </div>
    </div>
</div>

<!-- End Products  -->

<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1><span style="color: red;">Gofindez</span>-vous Peut-etre Une Colocation <span
                            id="a-ville"></span>?</h1>


                    <p id="texte-ville">Quelques Appartement en Colocations</p>



                </div>
            </div>
        </div>
        <div class="row" id="colocations-container">

        </div>
    </div>
</div>

<!-- <script src="{% static 'js/map.js' %}"></script> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhVBkXbcRJ3WvdwOoI4r5Tmrh3xTKb278" loading="async" async
    defer></script>

<!-- End Blog  -->

    <script>
        function initMap() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    var geocoder = new google.maps.Geocoder();

                    geocoder.geocode({ 'location': latlng }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[0]) {
                                var city = null;
                                var sublocality = null;
                                var neighborhood = null;

                                for (var i = 0; i < results[0].address_components.length; i++) {
                                    var component = results[0].address_components[i];
                                    var types = component.types;
                                    if (types.indexOf('locality') > -1) {
                                        city = component.long_name;
                                    } else if (types.indexOf('sublocality') > -1) {
                                        sublocality = component.long_name;
                                    } else if (types.indexOf('neighborhood') > -1) {
                                        neighborhood = component.long_name;
                                    }
                                }

                                if (city) {
                                    fetchColocations(city, sublocality, neighborhood);
                                    fetchTrajets(city);
                                } else {
                                    fetchColocations('');
                                    fetchTrajets('');
                                }
                            }
                        } else {
                            fetchColocations('');
                            fetchTrajets('');
                        }
                    });
                }, function (error) {
                    fetchColocations('');
                    fetchTrajets('');
                });
            } else {
                alert("La géolocalisation n'est pas prise en charge par ce navigateur.");
                fetchColocations('');
                fetchTrajets('');
            }
        }

        function fetchColocations(city, subloc = 'Inconnue', quartier = 'inconnue') {
            Aville = document.getElementById('a-ville');
            textVille = document.getElementById('texte-ville');
            trajVille = document.getElementById('traj-ville');
            if (quartier != null) {
                trajVille.innerHTML= "Quelques Trajets de Corvoiturage Partant de "+ city ;
                Aville.innerHTML = " a " + city + " - " + subloc + "(" + quartier + ")";
                textVille.innerHTML = "Quelques Appartement en Colocations pres de " + city + " - " + subloc + "(" + quartier + ")";
            } else {
                trajVille.innerHTML= "Quelques Trajets de Corvoiturage Partant de "+ city ;
                Aville.innerHTML = " a " + city + " - " + subloc;
                textVille.innerHTML = "Quelques Appartement en Colocations pres de " + city + " - " + subloc;
            }

            fetch(`/get_colocations/?ville=${city}`)
                .then(response => response.json())
                .then(data => {
                    var colocationsContainer = document.getElementById('colocations-container');
                    colocationsContainer.innerHTML = '';
                    data.colocations.forEach(colocation => {
                        var colocationElement = document.createElement('div');
                        colocationElement.classList.add('col-md-6', 'col-lg-4', 'col-xl-4');
                        var details = colocation.details.length > 130 ? colocation.details.slice(0, 130) + '...' : colocation.details;
                        colocationElement.innerHTML = `
                            <div class="blog-box">
                                <div class="blog-img">
                                    <img class="img-fluid" src="${colocation.photo_url}" alt="Image de la colocation">
                                </div>
                                <div class="blog-content">
                                    <div class="title-blog">
                                        <h3>${colocation.lieu} - ${colocation.titre}</h3>
                                        <p>${details}</p>
                                    </div>
                                    <ul class="option-blog">
                                        <li>
                                            <a href="/DetailColloc/${colocation.id}" data-toggle="tooltip" data-placement="right" title="Voir">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        `;
                        colocationsContainer.appendChild(colocationElement);
                    });
                });
        }

        function fetchTrajets(city) {
            fetch(`/get_trajets/?ville=${city}`)
                .then(response => response.json())
                .then(data => {
                    var trajetsContainer = document.getElementById('trajets-container');
                    trajetsContainer.innerHTML = '';
                    var prixMoyen = data.prix_moyen;

                    data.trajets.forEach(trajet => {
                        var trajetElement = document.createElement('div');
                        trajetsContainer.style="color:red";
                        trajetElement.classList.add('col-lg-3', 'col-md-6', 'special-grid');
                        if (trajet.prix < prixMoyen) {
                            trajetElement.classList.add('top-featured');
                        }
                        if (new Date(trajet.dateDepart).toDateString() === new Date().toDateString()) {
                            trajetElement.classList.add('best-seller');
                        }
                        trajetElement.innerHTML = `
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">${trajet.places} places</p>
                                    </div>
                                    <img src="{% static 'images/map.jpg' %}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="/DetailTrajet/${trajet.id}" data-toggle="tooltip" data-placement="right" title="Voir"><i class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Enregistrer"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="cart" href="/DetailTrajet/${trajet.id}">Details</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>${trajet.Depart} - ${trajet.Arrive}</h4>
                                    <h5>Depart Le <span style="color:red">${new Date(trajet.dateDepart).toLocaleDateString()}</span></h5>
                                    <h5><span style="color:red">${trajet.prix}</span> XAF</h5>
                                </div>
                            </div>
                        `;
                        trajetsContainer.appendChild(trajetElement);
                    });
                });
        }

        window.onload = initMap;
    </script>

















{% endblock %}