{% extends 'base.html' %}

{% block content %}
{% load static %}

    <!-- File: GofindApp/templates/GofindApp/liste_objets.html -->


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Objets pour : {{ sujet }}</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
                        <li class="breadcrumb-item active">Objets</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <input class="form-control" id="searchInput" onkeyup="searchProducts()" placeholder="Recherchez ici..." type="text">
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Trier Par </span>
                                    <select id="basic" class="selectpicker show-tick form-control" onchange="sortResults()" data-placeholder="$ USD">
                                        <option data-display="Select">Rien</option>
                                        <option value="date">Date</option>
                                        <option value="categorie">Catégorie</option>
                                    </select>
                                </div>
                                <p>Résultats ({{ result_count }})</p>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#produits-view" title="produits" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="produits-view">
                                    <div class="row">
                                        {% for objet in objets %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Perdu</p>
                                                    </div>
                                                    <img src="{{ objet.Photo1.url }}" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="{% url 'detail_objet' objet.id %}" data-toggle="tooltip" data-placement="right" title="Voir"><i class="fas fa-eye"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="{% url 'detail_objet' objet.id %}">Détails</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4 class="product-name">{{ objet.nom }} | {{ objet.lieu }}</h4>
                                                    <h5> Le {{ objet.date|date:"d-m-Y" }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->
    <script>
        function searchProducts() {
            let input = document.getElementById('searchInput').value.toLowerCase();
            let productCards = document.getElementsByClassName('products-single');

            for (let i = 0; i < productCards.length; i++) {
                let productName = productCards[i].getElementsByClassName('product-name')[0].innerText.toLowerCase();
                if (productName.includes(input)) {
                    productCards[i].style.display = '';
                } else {
                    productCards[i].style.display = 'none';
                }
            }
        }

        function sortResults() {
            let select = document.getElementById('basic');
            let value = select.options[select.selectedIndex].value;
            let urlParams = new URLSearchParams(window.location.search);
            urlParams.set('sort', value);
            window.location.search = urlParams.toString();
        }
    </script>

    {% endblock %}