{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
    p{
        margin: 10px;
    }
    h3{
        font-weight: 900;
    }
</style>
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>POLITIQUE DE CONFIDENTIALITÉ</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                        <li class="breadcrumb-item active">Politique de Confidentialité</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Privacy Policy Page  -->
    <div class="privacy-policy-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="noo-sh-title" style="margin: 20px;">Politique de Confidentialité de <span>GoFind</span></h2>
                    <p>Chez GoFind, nous nous engageons à protéger et à respecter votre vie privée. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons les informations personnelles que vous nous fournissez lorsque vous utilisez notre plateforme.</p>
                    
                    <h3>1. Informations que Nous Collectons</h3>
                    <p>Nous pouvons collecter et traiter les données suivantes vous concernant :</p>
                    <ul>
                        <li>Informations que vous fournissez en remplissant des formulaires sur notre site.</li>
                        <li>Détails de vos visites sur notre site et des ressources auxquelles vous accédez.</li>
                        <li>Informations sur votre localisation, y compris votre position géographique, afin de fournir des services personnalisés.</li>
                    </ul>

                    <h3>2. Utilisation des Informations</h3>
                    <p>Nous utilisons les informations que nous collectons pour :</p>
                    <ul>
                        <li>Vous fournir les informations, produits et services que vous nous demandez.</li>
                        <li>Améliorer notre site et vous offrir un service plus personnalisé.</li>
                        <li>Vous notifier des changements apportés à nos services.</li>
                    </ul>

                    <h3>3. Divulgation de vos Informations</h3>
                    <p>Nous pouvons divulguer vos informations personnelles à des tiers :</p>
                    <ul>
                        <li>Si nous sommes dans l'obligation de divulguer ou de partager vos données personnelles pour respecter une obligation légale.</li>
                        <li>Pour protéger les droits, la propriété ou la sécurité de GoFind, de nos clients ou d'autres parties. Cela inclut l'échange d'informations avec d'autres sociétés et organisations aux fins de protection contre la fraude et de réduction du risque de crédit.</li>
                        <li>Votre position géographique peut être utilisée et partagée pour vous fournir des résultats de recherche précis et pertinents.</li>
                    </ul>

                    <h3>4. Sécurité de vos Informations</h3>
                    <p>Nous prenons des mesures techniques et organisationnelles appropriées pour protéger vos informations personnelles contre tout accès non autorisé, toute altération, toute divulgation ou toute destruction.</p>

                    <h3>5. Vos Droits</h3>
                    <p>Vous avez le droit de nous demander de ne pas traiter vos données personnelles à des fins de marketing. Vous pouvez exercer ce droit à tout moment en nous contactant à l'adresse indiquée sur notre site.</p>

                    <h3>6. Modifications de Notre Politique de Confidentialité</h3>
                    <p>Toute modification que nous pourrions apporter à notre politique de confidentialité à l'avenir sera affichée sur cette page. Veuillez vérifier régulièrement pour prendre connaissance des mises à jour ou des changements apportés à notre politique de confidentialité.</p>

                    <h3>Contact</h3>
                    <p>Pour toute question concernant cette politique de confidentialité, vous pouvez nous contacter à l'adresse suivante : contact@gofind.com</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Privacy Policy Page -->
{% endblock %}
