{% extends 'base.html' %}

{% block content %}
{% load static %}


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Resultats pour : {{sujet}}</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
                        <li class="breadcrumb-item active">Resultats</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->










    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <input class="form-control" id="filter-input" placeholder="Filtrer les résultats ici..." type="text" oninput="filterResults()">
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <p>Resultats pour "{{ sujet }}"</p>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#produits-view" title="produits" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#appart-view" data-toggle="tab" title="appart"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#trajet-view" data-toggle="tab" title="trajets"> <i class="fa fa-th"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="produits-view">
                                    <div class="row">
                                        {% if not objets %}
                                            <h3 style="margin: 10px;">Aucun objet Correspondant</h3>
                                        {% endif %}
                                        {% for objet in objets %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 result-item">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">{{ objet.cathegorie }}</p>
                                                    </div>
                                                    <img src="{{ objet.Photo1.url }}" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Voir"><i class="fas fa-eye"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="#">Details</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4>{{ objet.nom }} | {{ objet.lieu }}</h4>
                                                    <h5>{{ objet.description }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="appart-view">
                                    <div class="row">
                                        {% if not colocs %}
                                            <h3 style="margin: 10px;">Aucune colocation Correspondante</h3>
                                        {% endif %}
                                        {% for colocation in colocs %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 result-item">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="new">Colocation</p>
                                                    </div>
                                                    <img src="{{ colocation.Photo1.url }}" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Voir"><i class="fas fa-eye"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="{% url 'DetailColloc' colocation.id %}">Details</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4>{{ colocation.titre }} | {{ colocation.lieu }}</h4>
                                                    <h5>{{ colocation.prix }} FCFA</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="trajet-view">
                                    <div class="row">
                                        
                                        {% if not trajets %}
                                            <h3 style="margin: 10px;">Aucun Trajets Correspondants</h3>
                                        {% endif %}
                                            
                                        {% for trajet in trajets %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 result-item">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">{{ trajet.places }} places</p>
                                                    </div>
                                                    <img src="images/map.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="{% url 'DetailTrajet' trajet.id %}" data-toggle="tooltip" data-placement="right" title="Voir"><i class="fas fa-eye"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="{% url 'DetailTrajet' trajet.id %}">Details</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4>{{ trajet.Depart }} - {{ trajet.Arrive }}</h4>
                                                    <h5>Départ Le <span style="color:red">{{ trajet.dateDepart|date:"d-m-Y" }}</span></h5>
                                                    <h5><span style="color:red">{{ trajet.prix }}</span> XAF</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    <script>
        function filterResults() {
            const filter = document.getElementById('filter-input').value.toLowerCase();
            const items = document.querySelectorAll('.result-item');

            items.forEach(item => {
                const text = item.innerText.toLowerCase();
                if (text.includes(filter)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        }
    </script>
















    {% endblock %}