{% extends 'base.html' %}

{% block content %}
{% load static %}

{% load signalement_tags %}


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Vos Signalements</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
                        <li class="breadcrumb-item active">Signalements</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Wishlist  -->
    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Titre</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for signalement in signalements %}
                                    <tr>
                                        <td class="thumbnail-img">
                                            <a href="#">
                                                <img class="img-fluid" src="{{ signalement.Photo1.url }}" alt="" />
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="#">
                                                {{ signalement.titre }}
                                            </a>
                                        </td>
                                        <td class="price-pr">
                                            <p>{{ signalement|signalement_type }}</p>
                                        </td>
                                        <td class="quantity-box">Le {{ signalement.date }}</td>
                                        <td class="add-pr">
                                            <a class="btn hvr-hover" href="{% url 'SupprimerSignal' signalement.id %}" style="margin-top: 0;">Retirer <i class="fas fa-times"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wishlist -->



    {% endblock %}