{% extends 'base.html' %}

{% block content %}
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Activation invalide</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item active">Activation invalide</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="wishlist-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="text-align: center;">L'activation est invalide!</h1>
                <p style="text-align: center;">Le lien d'activation est invalide ou a expiré.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
