{% extends 'base.html' %}

{% block content %}
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Confirmation</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item active">Confirmation</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="wishlist-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="text-align: center;">Merci de vous être inscrit !</h1>
                <p style="text-align: center;">Un email de confirmation a été envoyé à votre adresse email. Veuillez vérifier votre boîte de réception pour activer votre compte.</p>
                <p style="text-align: center;">Verifiez Vos spam si vous ne le voyez pas.</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
