<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Gofind - Votre Solution</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/284daa6a85.js" crossorigin="anonymous"></script>
    <!--    
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  -->

</head>

<body>

    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">

                            {% if user.is_authenticated %}
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> Connecte en tant que {{user.nom}}
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Connecte en tant que {{user.nom}}
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Connecte en tant que {{user.nom}}
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Connecte en tant que {{user.nom}}
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Connecte en tant que {{user.nom}}
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Connecte en tant que {{user.nom}}
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Connecte en tant que {{user.nom}}
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Connecte en tant que {{user.nom}}
                                </li>
                            </ul>
                            {% else %}
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> Veuilliez vous connecter
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Veuilliez vous connecter
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Veuilliez vous connecter
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Veuilliez vous connecter
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Veuilliez vous connecter
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Veuilliez vous connecter
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Veuilliez vous connecter
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Veuilliez vous connecter
                                </li>
                            </ul>
                            {% endif %}


                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                            <option>F FCFA</option>
                            <option>$ USD</option>
                            <option>€ EUR</option>
                        </select>
                    </div>
                    <div class="right-phone-box">
                        <p>Contactez-nous : + <a href="#">237 658 86 66 39</a></p>
                    </div>
                    <div class="our-link">
                        <ul>


                            {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">DECONNEXION</a></li>
                            <li><a href="{% url 'profile' user.id %}">MON PROFILE</a></li>
                            {% else %}
                            <li><a href="{% url 'inscription' %}">S'INSCRIRE</a></li>
                            <li><a href="{% url 'connexion' %}">SE CONNECTER</a></li>
                            {% endif %}


                            {% if user.is_authenticated %}
                            <li><a href="{% url 'Signalements' %}">MES SIGNALEMENTS</a></li>
                            {% endif %}


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"
                            class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">A Propos de nous</a></li>
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Objets Volés <i
                                    class="fa-brands fa-shopify"></i></a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <!-- File: GofindApp/templates/GofindApp/menu.html -->

                                <li>
                                    <div class="row">
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Appareils</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="{% url 'liste_objets' %}?sujet=appareils">Tous les
                                                            appareils</a></li>
                                                    <li><a
                                                            href="{% url 'liste_objets' %}?sujet=telephones">Téléphones</a>
                                                    </li>
                                                    <li><a
                                                            href="{% url 'liste_objets' %}?sujet=ordinateurs">Ordinateurs</a>
                                                    </li>
                                                    <li><a href="{% url 'liste_objets' %}?sujet=tablettes">Tablettes</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Vêtements</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="{% url 'liste_objets' %}?sujet=vetements">Tous les
                                                            vêtements</a></li>
                                                    <li><a href="{% url 'liste_objets' %}?sujet=hommes">Hommes</a></li>
                                                    <li><a href="{% url 'liste_objets' %}?sujet=femmes">Femmes</a></li>
                                                    <li><a href="{% url 'liste_objets' %}?sujet=enfants">Enfants</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Meubles</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="{% url 'liste_objets' %}?sujet=meubles">Tous les
                                                            meubles</a></li>
                                                    <li><a href="{% url 'liste_objets' %}?sujet=chaises">Chaises</a>
                                                    </li>
                                                    <li><a href="{% url 'liste_objets' %}?sujet=canapes">Canapés</a>
                                                    </li>
                                                    <li><a href="{% url 'liste_objets' %}?sujet=tables">Tables</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Accessoires</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="{% url 'liste_objets' %}?sujet=accessoires">Tous les
                                                            accessoires</a></li>
                                                    <li><a href="{% url 'liste_objets' %}?sujet=sacs">Sacs</a></li>
                                                    <li><a href="{% url 'liste_objets' %}?sujet=lunettes">Lunettes</a>
                                                    </li>
                                                    <li><a href="{% url 'liste_objets' %}?sujet=montres">Montres</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end col-3 -->
                                         <!-- New category: Électronique -->
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Électronique</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="{% url 'liste_objets' %}?sujet=electronique">Toute
                                                        l'électronique</a></li>
                                                <li><a href="{% url 'liste_objets' %}?sujet=cameras">Caméras</a></li>
                                                <li><a href="{% url 'liste_objets' %}?sujet=audio">Audio</a></li>
                                                <li><a href="{% url 'liste_objets' %}?sujet=jeux_vidéo">Jeux Vidéo</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end col-3 -->

                                    <!-- New category: Loisirs -->
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Loisirs</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="{% url 'liste_objets' %}?sujet=loisirs">Tous les
                                                        loisirs</a></li>
                                                <li><a href="{% url 'liste_objets' %}?sujet=sport">Sport</a></li>
                                                <li><a href="{% url 'liste_objets' %}?sujet=musique">Musique</a></li>
                                                <li><a href="{% url 'liste_objets' %}?sujet=livres">Livres</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end col-3 -->

                                    <!-- New category: Maison -->
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Maison</h6>
                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="{% url 'liste_objets' %}?sujet=maison">Tout pour la
                                                        maison</a></li>
                                                <li><a href="{% url 'liste_objets' %}?sujet=decoration">Décoration</a>
                                                </li>
                                                <li><a href="{% url 'liste_objets' %}?sujet=ustensiles_cuisine">Ustensiles
                                                        de Cuisine</a></li>
                                                <li><a href="{% url 'liste_objets' %}?sujet=appareils_menagers">Appareils
                                                        Ménagers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end col-3 -->
                                    </div>
                                </li> 
                            </ul>   
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SIGNALER </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'SignalerObjet' %}">OBJET VOLE</a></li>
                                <li><a href="{% url 'signaler_colloc' %}">COLOCATION</a></li>
                                <li><a href="{% url 'SignalerTrajet' %}">TRAJET</a></li>
        
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'liste_trajets' %}">COVOITURAGE</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'liste_colocations' %}">COLOCATION</a>
                        </li>
                    </ul>
                </div>
                <!-- end row -->
            </div>   
                
            
        </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    
                    <li onclick="document.getElementById('notclick').click()"  class="">
                        <a href="{% url 'notifications' %}" id="notclick"><i class="fa fa-bell" onclick="document.getElementById('notclick').click()" title="notifications" style="font-size: 23px;"></i></a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
            </div>
         
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <form action="{% url 'Recherche' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon" onclick="document.getElementById('sub').click()"><i
                            class="fa fa-search"></i></span>
                    <button type="submit" id="sub" hidden="true"></button>
                    <input type="text" class="form-control" name="sujet" placeholder="Rechercher...">
                    <input type="hidden" id="coordonnees" name="coordonnees">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </form>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhVBkXbcRJ3WvdwOoI4r5Tmrh3xTKb278" loading="async" async defer></script>
                <script>
                    function initMap() {
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(function (position) {
                                var lat = position.coords.latitude;
                                var lng = position.coords.longitude;
                                var latlng = new google.maps.LatLng(lat, lng);
                                var coordonnees = `${lat},${lng}`;  // Stocker les coordonnées sous le format "lat,long"
                                document.getElementById('coordonnees').value = coordonnees;
                
                                
                            });
                        }
                    }
                
                
                    window.onload = initMap;
                </script>
                


        </div>
    </div>
    <!-- End Top Search -->




























    {% block content %}

    {% endblock %}












    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-01.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-02.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-03.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-04.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-05.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-06.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'images/instagram-img-07.jpg' %}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-08.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-09.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/instagram-img-05.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>A Propos de GoFind</h4>
                            <h2 class="noo-sh-title">Nous sommes <span>GoFind</span></h2>
                    <p>GoFind est votre plateforme de référence pour la recherche de trajets de covoiturage, de colocations, d'appartements à louer et d'objets volés. Notre mission est de simplifier la recherche et le partage d'informations essentielles, en créant une communauté où l'entraide et l'efficacité priment.</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Informations</h4>
                            <ul>
                                <li><a href="{% url 'about' %}">A Propos de nous</a></li>
                                <li><a href="{% url 'privacy_policy' %}">Politique de Confidentialite</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Donfack P. <br>Yaounde Awae,<br> rue 014 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+237658866639">+237658866639</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a
                                            href="mailto:donfackarthur750@gmail.com@gmail.com">donfackarthur750@gmail.com@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2024 <a href="#">GoFind</a> Design By :
            <a href="https://fox-s.netlify.app/">Fox</a>
        </p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>